<section id="contact">
  <div class="all">
    <div class="left">
      <span>Get in Touch</span>
      <span class="txt">
        <br>Reach out for collaborations, projects, or just to say hi.
      </span>
      <div class="socials">
        <div class="text">
          <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
          <span>
            +254 753056653
          </span>
        </div>
        <div class="text">
          <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
          <span>
            martinkagendo13@gmail.com
          </span>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="icons">
        <a href="https://github.com/balojr" target="_blank" class="link">
          <i class="fa-brands fa-github fa-fade"></i>
        </a>
        <a href="https://www.linkedin.com/in/martin-kagendo-b42543236" target="_blank" class="link">
          <i class="fa-brands fa-linkedin-in fa-fade" style="color: #ffffff;"></i>
        </a>
      </div>
    </div>
  </div>
</section>






