<div class="background">
  <div class="overlay"></div>
</div>

<div class="container">
  <div class="links">
    <a (click)="scrollTo('about')">Section 1</a>
    <a (click)="scrollTo('section2')">Section 2</a>
    <a (click)="scrollTo('section3')">Section 3</a>
  </div>


  <section id="section1">
    <!-- your content for section 1 here -->
  </section>

  <section id="section2">
    <!-- your content for section 2 here -->
  </section>

  <section id="section3">
    <!-- your content for section 3 here -->
  </section>
</div>


<div class="box">
  <div class="box1" >
  </div>
</div>

