<div class="background">
  <div class="overlay"></div>
</div>
<div class="container">
    <div class="links">
      <a (click)="scrollTo('home')">This Page</a>
      <a (click)="scrollTo('skills')">Skills</a>
      <a (click)="scrollTo('projects')">Projects</a>
      <a (click)="scrollTo('contact')">Contact</a>
    </div>
</div>

<div class="middle">
  <app-intro></app-intro>
</div>

<div class="content">
  <div class="thepage">
    <div class="text">
      <span>Skills</span>
    </div>
    <div class="skills">
      <app-skills></app-skills>
    </div>
    <div class="text">
      <span>Projects</span>
    </div>
    <section id="projects">
      <app-projects></app-projects>
    </section>
    <section id="contact">
      <!-- your content for section 4 here -->
    </section>
  </div>
</div>

