.background {
  background: transparent no-repeat center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: #1e1d1d;
  animation: fade 10s ease-in-out infinite alternate;
}
@keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 5px 5px -5px rgb(32, 47, 86);
  z-index: 1;
    .links{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        font-family: sans-serif;
        color: white;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
        margin: 0 10px;
        &:hover{
          color: #8d95b7;
        }
      }
    }
}
.middle{
  margin-top: 130px;
  width: 100%;
  height: fit-content;
  //height: 100%;
}
.content{
  .thepage{
    .text{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      span{
        font-size: 30px;
        color: white;
      }
    }
    .skills{
      //height: 85vh;
      //scroll-snap-align: start;
    }
    .projects{
      //height: 85vh;
      //scroll-snap-align: start;
    }
  }
  .text1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    span{
      font-size: 30px;
      color: white;
    }
  }
}


