<section class="home">
  <div class="intro">
    <div class="content">
      <div class="image">
        <img [ngSrc]="sideImage3" alt="code.Img" [width]="550" [height]="550">
      </div>
      <div class="welcome-text">
        <span class="text" [ngStyle]="">First solve the problem</span>
        <span class="text1">Then write the code</span>
        <span class="desc">Hello, I'm <b>Martin</b></span>
        <span class="desc1">As a computer scientist, I am dedicated to crafting user-friendly, efficient, and reliable solutions that cater to a diverse range of consumer needs.<br><br>
        With a passion for innovation and a keen eye for detail, I constantly strive to develop technologies that streamline complex processes and enhance user experiences.
        </span>
        <div class="contact">
          <mat-button-toggle>
            Get in touch
          </mat-button-toggle>
        </div>
      </div>
    </div>
  </div>
</section>



