.intro{
  justify-content: center;
  align-items: center;
  width: 100%;
  .content{
    padding-left: 20px;
    display: flex;
    //flex-direction: row;
    width: 90%;
    margin: 0 auto;
    .welcome-text{
      display: flex;
      flex-direction: column;
      padding: 30px;
      //width: 50%;
      .text{
        color: #ffffff;
        font-size: 50px;
        font-weight: bold;
        font-family: 'Sen', sans-serif;
      }
      .text1{
        margin-top: 35px;
        color: #ffffff;
        font-size: 50px;
        font-weight: bold;
        font-family: 'Sen', sans-serif;
      }
      .desc{
        color: #a8bef6;
        font-size: 20px;
        font-weight: medium;
        font-family: 'Sen', sans-serif;
        margin-top: 40px
      }
      .desc1{
        color: #ffffff;
        font-size: 20px;
        font-weight: medium;
        font-family: 'Sen', sans-serif;
        margin-top: 20px
      }
      .contact{
        mat-button-toggle{
          height: 30px;
          align-items: center;
          margin-top: 20px;
        }
      }
    }
    .image{
      //width: 50%;
      img{
        //width: 600px;
      }
    }
  }
}

