<section id="projects">
  <div class="project">
    <div class="dress">
      <span class="main">dresswithUs</span>
      <span class="text">
        An Angular-based web app that allows users to select items from the shop.
        Contains a cart and checkout functionality
      </span>
    </div>
    <div class="voting">
      <span class="main">votingApp</span>
      <span class="text">
        A Spring Boot Java Application that allows users to create polls and vote on them.
        Contains voting, user authentication and management APIs that can be replicated to user's needs.
      </span>
    </div>
    <div class="mambo">
      <span class="main">Mambo Website</span>
      <span class="text">
        A website for Mambo Lounge, Machakos. Contains a gallery, menu and contact sections.
        Made using Html, JavaScript and CSS.
      </span>
    </div>
  </div>
</section>
