#skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
    padding: 20px;
    width: 80%;
    .angular{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25% !important;
      background: rgb(236, 238, 243);
      padding: 10px;
      border-radius: 10px;
      //add box shadow
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      svg{
        width: 70px;
        path{
          fill: #b91818;
        }
      }
      .angulardesc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .main{
          font-size: 20px;
          color: #0f1934;
          font-family: 'Sen', sans-serif;
          padding-bottom: 5px;
        }
        .text{
          font-size: 15px;
          color: #090000;
          font-family: 'Sen', sans-serif;
        }
      }
    }
  //hover to display skill description
  //  .angular .text {
  //    display: none;
  //  }
  //
  //  .angular:hover .text {
  //    display: block;
  //    transition: ease-in-out 0.5s;
  //  }


    .java{
      //background: #090000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25% !important;
      background: rgb(236, 238, 243);
      padding: 10px;
      border-radius: 10px;
      //add box shadow
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      svg{
        width: 60px;
        path{
          fill: #090000;
        }
      }
      .javadesc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .main{
          font-size: 20px;
          color: #0f1934;
          font-family: 'Sen', sans-serif;
          padding-bottom: 5px;
        }
        .text{
          font-size: 15px;
          color: #090000;
          font-family: 'Sen', sans-serif;
        }
      }
    }
    //hover to display skill description
    //.java .text {
    //  display: none;
    //}
    //
    //.java:hover .text {
    //  display: block;
    //  transition: ease-in-out 0.5s;
    //}


    .html{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25% !important;
      background: rgb(236, 238, 243);
      padding: 10px;
      border-radius: 10px;
      //add box shadow
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      .svgs{
        display: flex;
        flex-direction: row;
        .svg1{
          margin-right: 15px;
          width: 60px;
        }
        .svg2{
          width: 55px;
          path{
            fill: #090000;
          }
        }
        svg{
          path{
            fill: #b91818;
          }
        }
      }
      .htmldesc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .main{
          font-size: 20px;
          color: #0f1934;
          font-family: 'Sen', sans-serif;
          padding-bottom: 5px;
        }
        .text{
          font-size: 15px;
          color: #090000;
          font-family: 'Sen', sans-serif;
        }
      }
    }
  //hover to display skill description
  //  .html .text {
  //    display: none;
  //  }
  //
  //  .html:hover .text {
  //    display: block;
  //    transition: ease-in-out 0.5s;
  //  }


    .technical{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25% !important;
      background: rgb(236, 238, 243);
      padding: 10px;
      border-radius: 10px;
      //add box shadow
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      svg{
        width: 70px;
        path{
          fill: #090000;
        }
      }
      .technicaldesc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .main{
          font-size: 20px;
          color: #0f1934;
          font-family: 'Sen', sans-serif;
          padding-bottom: 5px;

        }
        .text{
          font-size: 15px;
          color: #090000;
          font-family: 'Sen', sans-serif;
        }
      }
    }
  //hover to display skill description
  //  .technical .text {
  //    display: none;
  //  }
  //
  //  .technical:hover .text {
  //    display: block;
  //    transition: ease-in-out 0.5s;
  //  }

    .springboot{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25% !important;
      background: rgb(236, 238, 243);
      padding: 10px;
      border-radius: 10px;
      //add box shadow
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      svg{
        width: 70px;
        path{
          fill: rgb(68, 171, 13);;
        }
      }
      .springbootdesc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        .main{
          font-size: 20px;
          color: #0f1934;
          padding-bottom: 5px;
          font-family: 'Sen', sans-serif;
        }
        .text{
          font-size: 15px;
          color: #090000;
          font-family: 'Sen', sans-serif;
        }
      }
    }
  //hover to display skill description
  //  .springboot .text {
  //    display: none;
  //  }
  //
  //  .springboot:hover .text {
  //    display: block;
  //    transition: ease-in-out 0.5s;
  //  }
}


